<template>
  <div class="hello">
    <ul>
      <li v-for="(item, index) in items" :key="index">
        {{ item.name }}
        <button @click="addToMyCart(item)">+</button>
      </li>
    </ul>

    <h4>My Cart</h4>
    <li
      v-for="(item, index) in cart"
      :key="index"
    >{{ item.name }} x {{ item.count }} = {{ item.count*item.price}}</li>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      cart: [],
      items: [
        {
          name: "Product 1",
          id: 1,
          price: 200
        },
        {
          name: "Product 2",
          id: 2,
          price: 100
        },
        {
          name: "Product 3",
          id: 3,
          price: 500
        },
        {
          name: "Product 4",
          id: 4,
          price: 2200
        }
      ]
    };
  },
  methods: {
    addToMyCart(item) {
      if (this.cart.length == 0) {
        item.count = 1;
        this.cart.push(item);
      } else {
        var repeat = false;
        for (var i = 0; i < this.cart.length; i++) {
          if (this.cart[i].id === item.id) {
            repeat = true;
            this.cart[i].count += 1;
          }
        }
        if (!repeat) {
          item.count = 1;
          this.cart.push(item);
        }
      }

      this.total += parseFloat(item.price);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
</style>
